.container {
  margin: 20px 0;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 40px 10px;
  min-width: 700px;
  max-width: 800px;
  justify-content: space-evenly;
  border-radius: 2rem;
  border: 5px solid #1c1c1c;
}

.card {
  margin: 0 auto !important;
  width: 220px;
  height: 100%;
}

.top1 {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
  transform: translate(0, -20px);
}

.top2 {
  border-bottom: 10px solid rgba(0, 255, 13, 0.5);
}

.top3 {
  border-bottom: 10px solid rgba(0, 255, 242, 0.5);
  transform: translate(0, 20px);
}

@media (max-width:700px){
  .card{
    margin: 2% 0 !important;
  }
  .container{
    padding: 0;
    flex-direction: column;
    box-shadow: none;
    max-width: 90%;
    min-width: 90%;
    align-items: center;
  }
  .top1, .top2, .top3{
    translate: 0;
  }
}
