.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.top1 {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.top2 {
  border-bottom: 10px solid rgba(0, 255, 13, 0.5);
}

.top3 {
  border-bottom: 10px solid rgba(0, 255, 242, 0.5);
}
