.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mainp{
    display: flex;
    align-items: center;
    padding: 2rem 0;;
    flex-direction: row;
}

.chart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar{
    padding: 0.5rem;
}